TestBuild.ps1

.vscode/
Build/

/GirlsFrontline-Connexion/Library/
/GirlsFrontline-Connexion/Logs/
/GirlsFrontline-Connexion/obj/
/GirlsFrontline-Connexion/Packages/
/GirlsFrontline-Connexion/ProjectSettings/
/GirlsFrontline-Connexion/Temp/

/GirlsFrontline-Connexion/Assets/*
!/GirlsFrontline-Connexion/Assets/Scripts/
!/GirlsFrontline-Connexion/Assets/StreamingAssets/

*.asset
*.csproj
*.meta
*.sln
