# ASCII text font - "Big Money-sw"
#   ________ ______ __       ________ 
#  /        /      /  |     /        |
#  $$$$$$$$/$$$$$$/$$ |     $$$$$$$$/ 
#  $$ |__     $$ | $$ |     $$ |__    
#  $$    |    $$ | $$ |     $$    |   
#  $$$$$/     $$ | $$ |     $$$$$/    
#  $$ |      _$$ |_$$ |_____$$ |_____ 
#  $$ |     / $$   $$       $$       |
#  $$/      $$$$$$/$$$$$$$$/$$$$$$$$/ 
#  ___________________________________

TestBuild.ps1

#   _______  ______ _______  ________  ______  ________ ______  _______  __      __ 
#  /       \/      /       \/        |/      \/        /      \/       \/  \    /  |
#  $$$$$$$  $$$$$$/$$$$$$$  $$$$$$$$//$$$$$$  $$$$$$$$/$$$$$$  $$$$$$$  $$  \  /$$/ 
#  $$ |  $$ | $$ | $$ |__$$ $$ |__   $$ |  $$/   $$ | $$ |  $$ $$ |__$$ |$$  \/$$/  
#  $$ |  $$ | $$ | $$    $$<$$    |  $$ |        $$ | $$ |  $$ $$    $$<  $$  $$/   
#  $$ |  $$ | $$ | $$$$$$$  $$$$$/   $$ |   __   $$ | $$ |  $$ $$$$$$$  |  $$$$/    
#  $$ |__$$ |_$$ |_$$ |  $$ $$ |_____$$ \__/  |  $$ | $$ \__$$ $$ |  $$ |   $$ |    
#  $$    $$// $$   $$ |  $$ $$       $$    $$/   $$ | $$    $$/$$ |  $$ |   $$ |    
#  $$$$$$$/ $$$$$$/$$/   $$/$$$$$$$$/ $$$$$$/    $$/   $$$$$$/ $$/   $$/    $$/     
#  _________________________________________________________________________________

.idea/
Build/

/GirlsFrontline-Connexion/Library/
/GirlsFrontline-Connexion/Logs/
/GirlsFrontline-Connexion/obj/
/GirlsFrontline-Connexion/Packages/
/GirlsFrontline-Connexion/ProjectSettings/
/GirlsFrontline-Connexion/Temp/

/GirlsFrontline-Connexion/Assets/*
!/GirlsFrontline-Connexion/Assets/Scripts/
!/GirlsFrontline-Connexion/Assets/Data/

#   ________ __    __ ________ ________ __    __  ______  ______  ______  __    __ 
#  /        /  |  /  /        /        /  \  /  |/      \/      |/      \/  \  /  |
#  $$$$$$$$/$$ |  $$ $$$$$$$$/$$$$$$$$/$$  \ $$ /$$$$$$  $$$$$$//$$$$$$  $$  \ $$ |
#  $$ |__   $$  \/$$/   $$ |  $$ |__   $$$  \$$ $$ \__$$/  $$ | $$ |  $$ $$$  \$$ |
#  $$    |   $$  $$<    $$ |  $$    |  $$$$  $$ $$      \  $$ | $$ |  $$ $$$$  $$ |
#  $$$$$/     $$$$  \   $$ |  $$$$$/   $$ $$ $$ |$$$$$$  | $$ | $$ |  $$ $$ $$ $$ |
#  $$ |_____ $$ /$$  |  $$ |  $$ |_____$$ |$$$$ /  \__$$ |_$$ |_$$ \__$$ $$ |$$$$ |
#  $$       $$ |  $$ |  $$ |  $$       $$ | $$$ $$    $$// $$   $$    $$/$$ | $$$ |
#  $$$$$$$$/$$/   $$/   $$/   $$$$$$$$/$$/   $$/ $$$$$$/ $$$$$$/ $$$$$$/ $$/   $$/ 
#  ________________________________________________________________________________

*.asset
*.csproj
*.meta
*.sln
*.sln.DotSettings.user
